<h1> New user </h1>
<p> Please fill in the form below to create a new user. </p>
<% if @user.errors.any? %>
  <div class="alert alert-danger">
    <h4>There were some errors:</h4>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= render partial: 'form' %>
<p> <%= link_to 'Back', users_path %> </p>